<% if @order.errors.any? %>
  <ul class="errors">
    <% @order.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>

<h1 class="checkout-heading">Checkout</h1>
<section class="form-control">
  <%= form_with model: @order do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :cc, 'Credit Card Number' %>
    <%= f.text_field :cc %>
    <%= f.label :csv, 'Cvv' %>
    <%= f.text_field :csv %>
    <%= f.label :expiration_date, 'Expiration Date' %>
    <%= f.text_field :expiration_date %>

    <%= f.submit "Review the Order", class: "submit-btn" %>

  <% end %>
</section>