<h1> Almost done! Here is your order summary: </h1>
<h4>You must confirm or cancel your oder below:</h4>

<section>
    <h2> Order Summary </h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Order Total Amount</th>
        <th scope="col">Purchase Date</th>
        <th scope="col">Current Status</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><%= sub_total %></td>
                <td><%= Date.today %></td>
                 <td><%= @order.status %></td> 
                 <%# <td><%= select_tag item.quantity, options_for_select((1..item.product.stock).map {|num| [num, item.id]})%>
            </tr>
    </tbody>
    </table>
</section>

<section>
    <h2>Order Items</h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Item Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Item Total</th>
        <th scope="col">Remove from Cart</th>
        </tr>
    </thead>
    <tbody>
        <% sub_total = 0%>
        <% @order.orderitems.each do |item|%>
            <tr>
                <td><%= item.product.name %></td>
                <td><%= item.product.price %></td>
                <% sub_total += item.product.price%>
                 <td><%= item.quantity %></td> 
                 <%# <td><%= select_tag item.quantity, options_for_select((1..item.product.stock).map {|num| [num, item.id]})%>
                <td><%= item.quantity * item.product.price %></td>
                <td><%= link_to "Cancel this order", order_path(@order.id), :data => {:confirm => 'Are you sure you want to cancel this order?'}, method: :delete %></td>
                <td><%= link_to "Confirm this order", confirmation_path %></td>
            </tr>
        <% end %>
    </tbody>
    </table>

    <section>
        <p>Subtotal: <%= sub_total %></p>
        <p>Tax: <%= tax = (sub_total * 0.09).round(2) %></p>
        <p>Total: <%= sub_total + tax %></p>
    </section>

    <section>
        <%= link_to "Check Out", edit_order_path(@order.id) , class: "btn btn-primary"%>
    </section>
</section>