<h1> Almost done! Here is your order summary: </h1>
<h4>You must confirm or cancel your order below:</h4>

<section>
    <h2> Order Summary </h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Purchase Date</th>
        <th scope="col">Current Status</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td><%= Date.today %></td>
                 <td><%= @order.status %></td> 
            </tr>
    </tbody>
    </table>
</section>

<section>
    <h2>Order Items</h2>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Item Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Item Total</th>
        </tr>
    </thead>
    <tbody>
        <% sub_total = 0%>
        <% @order.orderitems.each do |item|%>
            <tr>
                <td><%= item.product.name %></td>
                <td><%= item.product.price %></td>
                <% sub_total += item.product.price%>
                 <td><%= item.quantity %></td> 
                <td><%= item.quantity * item.product.price %></td>
               
            </tr>
        <% end %>
    </tbody>
    </table>

    <%= link_to "Cancel this order", cancel_order_path(@order.id), method: :patch, class: "btn btn-primary"%>
    <%= link_to "Confirm this order", confirmation_path, class: "btn btn-primary" %>

    <section>
        <p>Subtotal: <%= @order.sub_total %></p>
        <p>Tax: <%= @order.tax %></p>
        <p>Total: <%= @order.total %></p>
    </section>

</section>