<h1> Shopping Cart </h1>
<section>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Product Name</th>
        <th scope="col">Item Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Item Total</th>
        <th scope="col">Remove from Cart</th>
        </tr>
    </thead>
    <tbody>
        <% sub_total = 0%>
        <% @order.orderitems.each do |item|%>
            <tr>
                <td><%= item.product.name %></td>
                <td><%= item.product.price %></td>
                <% sub_total += item.product.price%>
                 <td><%= form_with url: orderitem_path(item.id), method: :patch do |f|%>
                    <strong><%= f.label :quantity%></strong>
                    <% if item.product.stock > item.quantity %>
                        <% max_select = item.product.stock  %>
                    <% else %>
                        <% max_select = item.quantity %>
                    <% end %>
                    <%= f.select :quantity, options_for_select(1..max_select, selected: item.quantity)  %><br>
                    <%# <%= f.number_field :quantity, :value => item.quantity  %>
                    <%= f.submit "Update Quantity", class: "btn btn-primary to-cart", method: :patch %>
                    <% end %>
                </td> 
                 <%# <td><%= select_tag item.quantity, options_for_select((1..item.product.stock).map {|num| [num, item.id]})%>
                <td><%= item.quantity * item.product.price %></td>
                <td><%= link_to "Remove Item", orderitem_path(item.id), :data => {:confirm => 'Are you sure you want to delete the item?'}, method: :delete %></td>
            </tr>
        <% end %>
    </tbody>
    </table>

    <section>
        <p>Subtotal: <%= sub_total %></p>
        <p>Tax: <%= tax = (sub_total * 0.09).round(2) %></p>
        <p>Total: <%= sub_total + tax %></p>
    </section>

    <section>
        <%= link_to "Check Out", edit_order_path(@order.id) , class: "btn btn-primary"%>
    </section>
</section>
