<div class="container">
  <div class="jumbotron text-center">
    <h7>My Order Statistics</h7>
  </div>
</div>
<br>

<div class="card-deck">
  <div class="card bg-warning mb-4">
    <h5 class="card-header d-flex w-100 justify-content-between align-items-center">
      <small>Sales (To Date) </small><small><%= readable_cost(@merchant.total_revenue) %></small>
    </h5>
    <div class="card-body">
      <% revenue = @merchant.revenue_by_status %>
      <ul class="list-group">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Paid</small>
            <small><%= readable_cost(revenue["paid"]) %></small>
          </h5>
        </li>
      </ul>
      <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Complete</small>
            <small><%= readable_cost(revenue["complete"]) %></small>
          </h5>
        </li>
      </ul>
    </div>
  </div>

  <div class="card bg-warning mb-4" >
    <h5 class="card-header d-flex w-100 justify-content-between align-items-center">
      <small>Total Orders </small><small><%= Merchant.items_by_orderid(@merchant.orderitems).size %></small>
    </h5>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Pending</small>
            <small><%= @pendingitems.size %></small>
          </h5>
        </li>
      </ul>
      <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Paid</small>
            <small><%= @paiditems.size %></small>
          </h5>
        </li>
      </ul>
      <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Complete</small>
            <small><%= @completeitems.size %></small>
          </h5>
        </li>
      </ul>
      <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Cancelled</small>
            <small><%= @cancelleditems.size %></small>
          </h5>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="card-deck">
  <div class="card bg-warning mb-4">
    <h5 class="card-header d-flex w-100 justify-content-between align-items-center">
      <small>Total Items </small><small><%= orderitems_total_quantity(@merchant.orderitems) %></small>
    </h5>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Pending</small>
            <small><%= orderitems_total_quantity(@orderitems["pending"]) %></small>
          </h5>
        </li>
      </ul>
      <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Paid</small>
            <small><%= orderitems_total_quantity(@orderitems["paid"]) %></small>
          </h5>
        </li>
      </ul>
      <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Complete</small>
            <small><%= orderitems_total_quantity(@orderitems["complete"]) %></small>
          </h5>
        </li>
      </ul>
      <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Cancelled</small>
            <small><%= orderitems_total_quantity(@orderitems["cancelled"]) %></small>
          </h5>
        </li>
      </ul>
    </div>
  </div>

  <div class="card bg-warning mb-4">
    <h5 class="card-header w-100 align-items-center">
      <small>Products</small>
    </h5>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>In Stock</small>
            <small><%= @activeproducts.size %></small>
          </h5>
        </li>
      </ul>
      <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Out Of Stock</small>
            <small><%= @soldout.size %></small>
          </h5>
        </li>
      </ul>
      <ul class="list-group mt-3">
        <li class="list-group-item list-group-item-light flex-column align-items-center">
          <h5 class="d-flex w-100 justify-content-between">
            <small>Inactive</small>
            <small><%= @inactive.size %></small>
          </h5>
        </li>
      </ul>
    </div>
  </div>
</div>