<div class="mb-5 d-flex">
  <div>
    <h4>Order # <%=@order.id %></h4>
    <p><strong>Seller</strong> #<%=@merchant.id %> (<%= @merchant.username %>)</p>
    <p><strong>Order placed on:</strong> <%= readable_date(@order.created_at) %></p>
  </div>
  <nav class="d-flex justify-content-end">
    <div class="mr-5 pl-5">
      <%= render partial: "checkbox", locals: { order: @order }%>
    </div>
    <div>
      <%= link_to "Back To Dashboard", dashboard_path, class: "btn btn-primary mr-3" %>
    </div>
  </nav>
</div>

<table class="table table-sm">
  <thead>
    <tr>
      <th scope="row" colspan="2">Customer Info</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Name</th>
      <td><%= @order.name %></td>
    </tr>
    <tr>
      <th scope="row">Email</th>
      <td><%=@order.email%></td>
    </tr>
    <tr>
      <th scope="row">Address</th>
      <td><%=@order.address%></td>
    </tr>
    <tr>
      <th scope="row">CC</th>
      <td><%=last_four(@order) %></td>
    </tr>
    <tr>
      <th scope="row">Expiration</th>
      <td><%= @order.exp_date %></td>
    </tr>
  </tbody>
</table>

<% if @orderitems %>
  <table class="table">
    <thead>
      <tr>
        <th>Order Item</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <% @orderitems.each do |item| %>
        <% product = item.product %>
        <tr>
          <td><%= link_to product.name, product_path(product.id) %></td>
          <td><%= product.description %></td>
          <td><%= display_price(product.price) %></td>
          <td><%= item.quantity %></td>
          <td><%= display_price(orderitem.total_price) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
