<section id="tabs">
<h1 class="dashboard-title">Your Dashboard</h1>
<ul class="nav nav-tabs mb-3" id="merchant-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="tab" href="#stats-tab">Statistics</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#orders-tab">View Orders</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#products-tab">Manage Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="tab" href="#add-prod-cat-tab">Add Products/Categories</a>
  </li>
</ul>
<div class="tab-content" id="merchant-content">
  <div class="tab-pane fade show active" id="stats-tab" role="tabpanel"><%= render partial: 'stats' %></div>
  <div class="tab-pane fade" id="orders-tab" role="tabpanel">
      <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th colspan="1">Order #</th>
            <th colspan="2">Last Updated</th>
            <th colspan="3">Order Status</th>
          </tr>
        </thead>
        <tbody>
          <% all_products = @merchant.products %>
          <% sold_products = [] %>
          <% all_products.each do |product| %>
            <% if !product.orderitems.empty? %>
              <% sold_products << product %>
            <% end %>
          <% end %>
          <% sold_products.each do |product| %>      
          <tr>
            <td colspan="1"><%= product.orderitems.first.order.id %></td>
            <td colspan="2"><%= product.orderitems.first.order.updated_at.to_date %></td>
            <td colspan="3"><%= product.orderitems.first.order.status %></td>
          </tr>

          <tr>
            <% product.orderitems.each do |item| %>
             <td><%= item.product.name %></td>
             <td><%= item.product.price %></td>
             <td><%= item.quantity %></td>
             <td>SHIP</td>
             <td>CANCEL</td>
            <% end %>
          </tr>
        <% end %>

        </tbody>
    </table>

  </div>
  <div class="tab-pane fade" id="products-tab" role="tabpanel">
   <table class="table table-striped">
        <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>In Stock</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
        <% @merchant.products.each do |product| %>
          <tr>
            <td><%= link_to product.name, product_path(product.id) %></td>
            <td><%= product.price %></td>
            <td><%= product.stock %>
            <td><%= link_to "Edit", edit_product_path(product.id) %> /
                <%= link_to "Retire Product", retire_path(product.id), method: :patch %></td>
          </tr>
          <% end %>
        </tbody>
    </table>
  </div>
  <div class="tab-pane fade" id="add-prod-cat-tab" role="tabpanel">
    <p> <%= link_to "Add an Itsy Product", new_product_path %> </p>
    <p> <%= link_to "Add an Itsy Category", new_category_path %> </p>
  </div>
</div>
</section>
