
<article class="category-container">
<div>
  <h2><%= @category.name %></h2>
  <table class="table">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
    <% @category.products.each do |product| %>
      <tr>
        <td><img class="category-img" src="<%=product.photo_url%>" alt="Image of <%=product.name%>"></td>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.price %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
</article>