<article class="main-article">
  <h2> Please leave us some feedback </h2>
  <%= form_with model: @review, url: product_reviews_path(:product_id), class: "form-group" do |f|%>
    <%= f.label :name, 'Your Name' %>
    <%= f.text_field :name, class: "form-control"%>
    <%= f.label :description, 'Your Thoughts' %>
    <%= f.text_field :description, class: "form-control"%>
         <br />
    <%= f.label "Rate this product!" %>
    <%= f.select :rating, [ [1, 1], [2, 2], [3, 3], [4, 4], [5, 5]], class: "form-control" %>
    <%= f.submit "Submit", class: "product-button btn btn-primary", role: "button" %>
    <% end %>
</article>