<article class="main-content container-fluid">
  <div class="row">
    <%= render partial: "shopping_nav", local: true %>
    <section class="col-sm-8 product-show">
      <h2><%= @product.name %></h2>
      <p>Merchant's name: <%= @product.user.name %></p>
      <nav>
        <% if @merchant.id == @product.merchant %>
          <p>
            <%= link_to "Edit product", edit_product_path(@product.id), method: :get %> |
            <%= link_to "Retire product", retire_path(@product.id), method: :patch, data: { confirm: "Are you sure?"}%>
          </p>
        <% end %>
      </nav>
      <p>
        <%= image_tag(@product.photo_url) %>
      </p>
      <p><%= @product.description%></p>
      <p><h4><strong>Price: <%= format_money(@product.price) %></strong></h4></p>
    </section>
    <div class="col-sm-1"></div>
  </div>
</article>