<article class="main-content container-fluid">
  <div class="row">
    <%= render partial: "shop_nav", local: true %>
    <section class="col-sm-8 product-show">
      <h2><%= @product.name %></h2>
      <p>
        <%= image_tag("https://fakeimg.pl/300/") %>
      </p>
      <p><%= @product.description%></p>
      <p><h4><strong>Price: <%= @product.price %></strong></h4></p>
    </section>
    <div class="col-sm-1"></div>
  </div>
</article>