<article class="review-main">
  <h2> Please leave us some feedback </h2>

  <%= form_with model: @review, url: product_reviews_path do |f|%>

    <div class="rating-labels">
      <%= f.label :rating %>
      <%= f.number_field :rating, :required => true, in: 1..5, step: 1 , class: "rate" %>
    </div>

    <div class="form-group">
      <%= f.label :comments %>
      <%= f.text_area :body, class: "form-control" %>
    </div>

    <%= f.submit 'Leave comment', class: "btn btn-primary" %>
  <% end %>
</article>
