<!DOCTYPE html>
<html>
  <head>
    <title>Betsy</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <h1>Itsy</h1>
      <section>
         <% if session[:user_id] %>
            <li>
              <%= link_to " Logout ", logout_path, method: :delete%>
            </li>
            <li>
              <%= link_to "Your Dashboard", dashboard_path(session[:user_id]) %>
            </li>
          <% else %>
            <li>
              <%= link_to "Login With Github", github_login_path%>
            </li>
          <% end %>
      </section>
    </nav>

    <%= link_to "Checkout", new_order_path %>

    <%= yield %>
    
  </body>
</html>
