<!DOCTYPE html>
<html>
<head>
  <title>Itsy</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<div class="container">
  <body>
  <header class="header">
  <h1 class="logo"><%= link_to "Itsy", root_path %></h1>
    <h3 class="motto">Itsy Bitsy Things For A Big Crowded World</h3>
  <nav class="navigation">
    <ul class="nav-app-header">
      <li><%= link_to "Shop All Products", products_path, class: "nav-link" %></li>
        <div class="dropdown">
          <span><%= link_to "Shop By Merchant", merchants_path, class: "nav-link" %></span>
          <div class="dropdown-content">
            <% Merchant.all.each do |merchant| %>
              <li><%= link_to "#{merchant.username}", merchant_path(merchant.id) %></li>
            <% end %>
            </div>
        </div>
      <div class="pull-right">
        <li class="nav-item app-header__nav_item">
          <% if !session[:order_id]%>
            <%= link_to "Cart", empty_cart_path %>
          <% else %>
            <% orderitems = Order.find_by(id: session[:order_id]).orderitems%>
            <% if !orderitems.empty?%>
              <%= link_to "Cart", order_path(session[:order_id]), class: "nav-link" %>
            <% else %>
                <%= link_to "Cart", empty_cart_path %>
            <% end %>
          <% end %>
        </li>
        <% if !session[:user_id].nil? %>
          <li class="nav-item app-header__nav_item">
          <%= link_to "My Dashboard", dashboard_path(session[:user_id]), id: "session", class: "btn btn-primary" %></li>
          <li class="nav-item app-header__nav_item">
              <%= link_to "Log out", logout_path, method: "get", id: "session", class: "btn btn-primary"  %></li>
        <% else %>
          <li class="nav-item app-header__nav_item">
            <%= link_to "Login with Github", "/auth/github", id: "session", class: "btn btn-primary"  %>
          </li>
        <% end %>
      </div>
    </ul>
  </nav>
</header>
    <% if flash[:result_text] or flash[:messages] %>
    <section class="alert__container">
      <div class="alert alert-<%= flash[:status].to_s == 'failure' ? 'warning' : flash[:status] %>">
        <span><%= flash[:status].to_s == "failure" ? "A problem occurred: " : "" %><%= flash[:result_text] %></span>
        <% if flash[:messages] %>
          <ul>
          <% flash[:messages].each do |name, problems| %>
            <% problems.each do |problem| %>
              <li><%= name %>: <%= problem %></li>
            <% end %>
          <% end %>
          </ul>
        <% end %>
      </div>
    </section>
    <% end %>
    <main>
      <%= yield %>
    </main>
  </body>
  </div>
  <footer>
     <%= link_to "Homepage", root_path %>
  </footer>
</html>
